//主题色
$blue-dark:#003498;
$blue-med:#00B6E6;
$blue-light:#C2D3EA;

// 背景色
$bg-color-white: #fff;
$bg-color-grey: #f2f6f9;

// 边框

// 阴影
$shadow: drop-shadow(0 0rpx 1rpx rgba(0, 0, 0, 0.1));

// 字体
$text-size-title: 30rpx;
$text-size-big: 28rpx;
$text-size-med: 26rpx;
$text-size-sm: 22rpx;

// 字体色
$text-color-light-grey: #a3b2c6;
$text-color-dark-grey: #797878;

//全局间距
$space:30rpx;

// 高度
$option-height: 120rpx;

//圆角

//picker 样式
@mixin picker-layout {
	height: 100%;
	display: flex;
	background-color: #fff;
	box-sizing: border-box;
	padding: 10rpx;
	border-radius: 20rpx;
	filter: $shadow;
	font-size: $text-size-med;
	font-weight: 600;
}

@mixin row-layout {
	width: 100%;
	height: $option-height;
	box-sizing: border-box;
	padding:$space;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin row-left {
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin-right: auto;
	margin-left: $space;
}
